header {background-size: cover;
    height: 40rem;background-image:url(header_home.png) ;
    margin: 0;
    padding: 0;
    border: 0;
}
.header-titre{
    text-transform: uppercase;
    font-size: 90px;
    font-family: Ubuntu,sans-serif;
    text-align: center;
    padding: 55px;
}
.header__logo__image {
    margin-top: 3rem;
    padding-left: 18rem;
    flex-basis: min-content;
    height: 6rem;
}

    .header__title__h1 {
        padding: 2.5rem 0;
        word-break: break-all;
        text-align: center;
    }
    h1 {
        font-size: 6rem;
        color: #fff;
        font-weight: 700;
        line-height: 1.2em;
    }

    .header__pictos {
        display: flex;
        justify-content: center;
    }
    .header__pictos__block__1__picto {
        width: 5rem;
        padding-left: 2rem;
    }
    .header__pictos__block__2__picto {
        width: 5rem;
        padding-left: 2rem;
    }

    .chapo {
        max-width: 70%;
        margin: 0 auto;
        padding: 4rem 0;
        text-align: center;
        font-weight: bold;
    }
    h2 {
        font-size: 1.9rem;
        color: #e41248;
        font-weight: 700;
        line-height: 1.2em;
    }
   
    .card__container {
        display: flex;
        justify-content: center;
        padding: 8rem;
        margin-bottom: 8rem;
    }
    .card {
        max-width: 55rem;
    }
    .card {
        box-sizing: border-box;
        margin: 1rem;
        flex: 0 0 auto;
        border-radius: .8rem;
        width: 33.33%;
        padding: 2rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 0;
        font: inherit;
    }
    .card, .card-2 {
        box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    }

    .card .button {
        margin-top: 1rem;
    }
    .button:hover {
        cursor: pointer;
    }
    .button, .button:hover {
        background: #e41248;
        box-shadow: 0 .3rem .8rem rgba(5,5,5,.16);
        border-radius: 1rem;
        padding: 1.5rem 2rem;
        color: #fff;
        font-size: 1rem;
        text-decoration: none;
        text-align: center;
        line-height: 1em;
        max-width: 16rem;
        display: inline-block;
        box-sizing: border-box;
        border: none;
        margin:0px;
    }

    .card__icon {
        margin-bottom: 4rem;
        height: 6rem;
    }

    .card__container {
        display: flex;
        justify-content: center;
        padding: 3rem;
        margin-bottom: 8rem;
    }

    .card__title {
        text-align: left;
        padding: 2rem 0;
        flex: 1;
    }
    h3 {
        font-size: 1.5rem;
    }
    h3, ol, p, ul {
        color: #000;
    }
 
    .simplonforall{
        font-family: Ubuntu,sans-serif;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 50px

}
    .titresimplonforall{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    text-align: center;

    }

    .polygone{
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 10.2rem;
    }
    .polygone-titre-majuscule{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 3rem;
        font-size: 36px;
        font-family: Ubuntu,sans-serif;
        font-weight: bold;
    }
    .polygone-contenu
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .polygone-identite{
        background-image: url(img/polygone_identite.svg);
        font-family: Ubuntu,sans-serif;
        width: 41.7rem;
        background-repeat: no-repeat;
        background-size: 317px 249px;
        min-height: 300px;
        padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 60px !important;
        padding-right: 90px !important;
        font-size: 13px;
        background-position: 30% 0%;
    }
    .polygone-defi{
        background-image: url(img/polygone_defi.svg);
        font-family: Ubuntu,sans-serif;
        width: 41.7rem;
        background-repeat: no-repeat;
        background-size: 317px 249px;
        min-height: 300px;
        padding-top: 70px;
        padding-bottom: 30px;
        padding-left: 70px !important;
        padding-right: 100px !important;
        font-size: 13px;
        background-position: 30% 0%;
    }
    .titre-access{
        text-transform: uppercase;
        font-family: Ubuntu,sans-serif;
        font-size: 36px;
        margin-bottom: 3rem;
        font-weight: bold;
    }

    .simplon-access{
        background-color:#e2e5e7;
        font-family: Ubuntu,sans-serif;
        font-size: 18px;
        overflow: hidden
        }
    ul li::before {
        content: "\2022";
        font-weight: 700;
        font-size: 1.8em;
        color: #e41248;
        display: inline-block;
        width: 1em;
        margin-left: -.8em;
        vertical-align: middle;
    }

    ul{
        list-style: none;
    }
    .lien-simplon{
        color: #e41248;

    }
    .footerlogo{
        width: 190px;
	    height: 190px;
    }

    .contact__avatar {
        height: 19rem;
        width: 19rem;
        border-radius: 50%;
        overflow: hidden;
        box-sizing: border-box;
    }
    a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    .contact__header {
        text-align: center;
    }

    .contact__content {
        text-align: center;
    }

    .contact__content {
        text-align: center;
    }
    
    
    
    .partenaires__1 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .partenaires__2 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .partenaires__3 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .partenaires__2__ministere {
            display: flex;
        }
        .footer__rs {
            white-space: nowrap;
        }
       .footer__rs__image--facebook {
            width: 2rem;
        }
        .footer__rs__image--twitter {
            width: 4rem;
        }
        .footer__rs__image--instagram {
            width: 4rem;
        }
            .footer__rs__image--linkedin {
                width: 4rem;
            }

            .contact__avatar {
                height: 19rem;
                width: 19rem;
                border-radius: 50%;
                overflow: hidden;
                box-sizing: border-box;
            }

            .partenaires__paragraphe {
                text-align: center;
                width: 67rem;
                margin: auto;
                padding: 5rem 0;

                
            }

            .uppercase {
                text-transform: uppercase;
            }
            .partenaires__title {
                text-align: center;
            }

            .footer {
                box-sizing: border-box;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: #000;
                padding-top: 5rem;
                padding-bottom: 5rem;
            }
            .footer__baseline {
                font-size: 2rem;
                color: #fff;
                margin-left: 4rem;
                margin-bottom: 1rem;
            }

            .footer__logo {
                width: 40rem;
                max-width: 90%;
                padding-left: 4rem;
                margin: 0;
                padding: 0;
                border: 0;
                font: inherit;
                vertical-align: baseline;
            }
            